*{
    box-sizing: border-box;
}

body{
    margin:0;
    background-color:;
    font-family: "Open Sans", sans-serif ;
    color: hsl(192,100%,9%)
}

h1,h2{
    font-family: "Poppins", sans-serif ;
}

p{
    opacity: 0.6;
}


.container{
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}

img{
    max-width:100%;
    min-width:20% ;
  
}
.header-image{
    margin-left: 20px;
    
}


header{
    background-image: url(./Images/bg-hero-desktop.svg);
    background-size: cover;
    background-position:center;
    padding: 30px 0;
    background-color: hsl(193,100%,96%);
}

.orient{
    display: flex;
    align-items: center;    
}

nav{
    align-items: center;
    justify-content: space-between;
    
}

.button{
    border-radius: 50px;
    background-color: white;
    font-size: 16px;
    padding: 15px 60px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.15);
    min-width: 10%;

}

.secondary-button{
    background-color: hsl(332,100%,66%);
    color:white;
    min-width: 10%;
}

.holder{
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.15);
    padding: 0px 10px;
    align-items: center;
    border-radius: 15px;
    margin: 40px 0;
    padding: 60px;
    background-color: white;

}

.holder img{
    max-width: 80%;
   
}

.small-holder{   

    display: inline-block;
    position: relative;
    z-index: 1;
    


}

.center{
    text-align: center;
    max-height: 170px;
    padding: 0%;
}


footer{
   
    background-color:hsl(192,100%,9%) ;
    color: white;
    margin: auto;
    padding: 150px 0 60px;
    margin-top: 60px;

}
footer ul{
    padding: 0;
    list-style-type: none;
}

footer ul li{
    max-width: 500px;
    padding-right: 30px;
}


footer ul li .shape{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex ;
    color: #fff;
    align-items: center;
    margin: auto;
    padding-left: 13px;


}



footer p{
    text-align: right;
}

footer .orient-socialmedia{

     display: flex;
}

@media screen and (max-width:768px) {
   

    nav.orient{
        flex-direction: row;
    }
    .orient{
              flex-direction: column;          
              align-items: center;
              
    
    }
    body{
        text-align: center;
    }
   .orient-mobile{
       flex-direction: column-reverse;
   }

   .center .holder{
       padding: 30px;
       padding-bottom:49px ;
   }
   footer p{
    text-align: center;
}


footer ul li{
    max-width: 500px;
    padding-right: 40px;
    align-items: flex-start;
}

.header-image{
    margin-top: 40px;
    
}


}



